
@{
    ViewBag.Title = "Statistics";
}


<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
<link href="~/Content/StatsSlideshow.css" rel="stylesheet" />
<h2 align="center">Statistics on Foster Children in the US</h2>

<div class="slider" id="main-slider">
    <!-- outermost container element -->
    <div class="slider-wrapper">
        <!-- innermost wrapper element -->
        <img src="~/images/stats.png" class="slide" />
        <img src="~/images/stats 3.jpg" class="slide" />
        <img src="~/images/stats 2.png" class="slide" />
        <img src="~/images/foster-graphic-horizontal-large-gallery_0.jpeg" class="slide" />
        <img src="~/images/stats.jpg" class="slide" />
        <script src="~/Scripts/JavaScript-Slideshow.js"></script>
    </div>
</div>
